<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="sample" type="spring.biz.user.vo.UserVO" >
		<result property="userid" column="userid"/>
		<result property="userpwd" column="userpwd"/>
		<result property="username" column="username"/>
		<result property="email" column="phone"/>
		<result property="phone" column="email"/>
		<result property="address" column="address"/>
	
	</resultMap>
	
  <select id="login"	parameterType="uservo" 
  						resultType="uservo">
	select * from userinfo 
	where userid=#{userid} and userpwd = #{userpwd}
  </select>
  
  <select id="getuser" resultType="uservo">
	select * from userinfo where userid = #{userid}
  </select>
  
  <insert id="add" parameterType="uservo">
	insert into userinfo (userid, username, userpwd, email,
                 phone, address) values (#{userid}, #{username}, #{userpwd}, #{email}, #{phone}, #{address})
  </insert>
  <select id="getuserlist" resultType="uservo">
	select * from userinfo order by 1 
  </select>
  
  <update id="update" parameterType="uservo">
	update userinfo set userpwd=#{userpwd},email=#{email},phone=#{phone},address=#{address} where userid=#{userid}
  </update>
  
  <delete id="remove">
	delete from userinfo where userid=#{userid}
  </delete>
  
  <select id="search" 	resultType="uservo" 
  						parameterType="hashMap">
	select * from userinfo 
	<where>
		<if test="userid != null">
			userid like '%'||#{userid}||'%'
		</if>
		<if test="username != null">
			username like '%'||#{username}||'%'
		</if>
		<if test="email != null">
			email like '%'||#{email}||'%'
		</if>
	</where>
  </select>
  
</mapper>